
@{
    ViewBag.Title = "admin_dashboard";
    Layout = "~/Views/Shared/_Layout_admin_dashboard.cshtml";
}

<<<<<<< HEAD
<h2>admin_dashboard</h2>
=======
<h2>Admin_Dashboard</h2>
>>>>>>> b980cdffc0852aa8d5ba2c5e37ea4ac8af2727a1

