<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/images/web/logoico.ico" type="image/x-icon" />
    <link href="~/Content/login_style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
