<!-- Footer View -->
<footer class="page-footer font-small white" style="background: black;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="https://Destcovery.com/">Destcovery.com</a>
    </div>
    <!-- Copyright -->
</footer>
