<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/web/slider-img-1.jpg" alt="Los Angeles" width="200" height="10">
            <div class="carousel-caption d-none d-md-block">
                <h1>Build Your Next Holiday Trip with us</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/web/slider-img-2.jpg" alt="Chicago" width="200" height="10">
            <div class="carousel-caption d-none d-md-block">
                <h3>A Team of Professsional Travel Expert</h3>
                <h1>TRUST OUR EXPERIENCE</h1>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/web/slider-img-3.jpg" alt="New York" width="200" height="10">
            <div class="carousel-caption d-none d-md-block">
                <h3>Enjoy the Best Destinations with our Travel Agency</h3>
                <h1>Explore The World</h1>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
