<!-- Tour View Index Page -->
<section>
    <div class="jumbotron" style="height: 80rem;">
        <h1 style="text-align: center;">Our Tours</h1>
        <br>
        <div class="container">
            <div class="card-deck" style="width: 73rem;height:20rem">
                <div class="card Basic card" style="border-color: black;">
                    <div class="card-body text-center">
                        <img src="~/images/tour_img/Pcg1.jpg" class="card-img-top" style="width: 20rem;height: 20rem;" alt="Package1">
                        <br><br>
                        <h4>Pune Tour</h4>
                        <br>
                        <a href="#" class="btn btn-primary">Book Tour</a>
                    </div>
                </div>
                <div class="card Basic card" style="border-color: black;">
                    <div class="card-body text-center">
                        <img src="~/images/tour_img/Bng.jpg" class="card-img-top" style="width: 20rem;height: 20rem" alt="Package1">
                        <br><br>
                        <h4>Bengaluru Tour</h4>
                        <br>
                        <a href="#" class="btn btn-primary">Book Tour</a>
                    </div>
                </div>
                <div class="card Basic card" style="border-color: black;">
                    <div class="card-body text-center">
                        <img src="~/images/tour_img/Chn1.jpg" class="card-img-top" style="width: 20rem;height: 20rem" alt="Package1">
                        <br> <br>
                        <h4>Chennai Tour</h4>
                        <br>
                        <a href="#" class="btn btn-primary">Book Tour</a>
                    </div>
                </div>
            </div>
            <br><br> <br><br> <br> <br><br> <br><br>
            <div class="card-deck" style="width: 73rem;height:20rem">
                <div class="card Basic card" style="border-color: black;">
                    <div class="card-body text-center">
                        <img src="~/images/tour_img/mal.jpg" class="card-img-top" style="width: 20rem;height: 20rem;" alt="Package1">
                        <br> <br>
                        <h4>Maldives Tour</h4>
                        <br>
                        <a href="#" class="btn btn-primary">Book Tour</a>
                    </div>
                </div>
                <div class="card Basic card" style="border-color: black;">
                    <div class="card-body text-center">
                        <img src="~/images/tour_img/leh.jpg" class="card-img-top" style="width: 20rem;height: 20rem" alt="Package1">
                        <br><br>
                        <h4>Leh-Ladakh Tour</h4>
                        <br>
                        <a href="#" class="btn btn-primary">Book Tour</a>
                    </div>
                </div>
                <div class="card Basic card" style="border-color: black;">
                    <div class="card-body text-center">
                        <img src="~/images/tour_img/ker.jpg" class="card-img-top" style="width: 20rem;height: 20rem" alt="Package1">
                        <br><br>
                        <h4>Kerala Tour</h4>
                        <br>
                        <a href="#" class="btn btn-primary">Book Tour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>