
@{
    ViewBag.Title = "DestCovery";
}

<!-- Slider View -->
@{
    Html.RenderPartial("slider_view");
}

<!--  Our Tours  -->
@{
    Html.RenderPartial("tour_view");
}

<!-- Testomionals -->
<section>
    <h1 style="text-align: center;"> Testimonials </h1>
    <section class="text-center my-5 p-1">
        <!-- Section heading
        <h2 class="h1-responsive font-weight-bold my-5">Testimonials v.1</h2>
        -->
        <!-- Grid row -->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <!--Card-->
                <div class="card testimonial-card" style="left: 15px;border-color: black;">
                    <!--Background color-->
                    <div class="card-up info-color"></div>
                    <!--Avatar-->
                    <div class="avatar mx-auto white">
                        <br />
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4">John Doe</h4>
                        <hr>
                        <!--Quotation-->
                        <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>I just wanted to share how much I enjoy dealing with ExploreTour. You have great people working to make winter travel as unforgettable as possible. Thank you for great experience.</p>
                    </div>
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                <!--Card-->
                <div class="card testimonial-card" style="border-color: black;">
                    <!--Background color-->
                    <div class="card-up blue-gradient">
                    </div>
                    <!--Avatar-->
                    <div class="avatar mx-auto white">
                        </br>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4">Anna Aston</h4>
                        <hr>
                        <!--Quotation-->
                        <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Many, many thanks for helping me set up an amazing Icelandic adventure! My nephew and I had a blast! All of the accommodations were perfect and we liked everything!</p>
                    </div>
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6">
                <!--Card-->
                <div class="card testimonial-card" style="right: 15px;border-color: black;">
                    <!--Background color-->
                    <div class="card-up indigo"></div>
                    <!--Avatar-->
                    <div class="avatar mx-auto white">
                        </br>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4">Maria Kate</h4>
                        <hr>
                        <!--Quotation-->
                        <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>I had a marvelous time in our travels to Southern Iceland, I had just wonderful experiences. I loved the Hali location as I felt like it was only the time I got to see real Iceland.</p>
                    </div>
                </div>
                <!--Card-->
            </div>
            <!--Grid column-->

        </div>
        <!-- Grid row -->
    </section>
    </div>
</section>


<!-- Contact Us -->
<section>
    <div class="jumbotron">
        <div class="mbr-overlay" style="opacity: 0.9; background-color:skyblue">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="title col-12 col-lg-8">
                    <h3 class="mbr-section-title align-center pb-3 mbr-fonts-style display-4" style="text-align: center;"><strong>Contact Us</strong></h3>
                </div>
            </div><br>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>

                    <form class="mbr-form" action="#" method="post" data-form-title="contact Form">
                        <input type="hidden" data-form-email="true" value="AxfOGvwuump8yM5iqNpcFGuee84qDdGQwTFyCcty/niVpCifNg9AEz3cKQlaoEE0MWp/eXbnaFpNAFEy0pcQLM3NvxS2fY47xr3UGD+lL4eFstAciz6q0pL4O5jlRxGr">
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2w">Name</label>
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2w">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2w">Email</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2w">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Phone</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2w">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Message</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
                        </div>

                        <span class="input-group-btn">
                            <button href="#" type="submit" class="btn btn-primary btn-form display-4">SEND FORM</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> 


<!-- Footer -->
@{ 
    Html.RenderPartial("footer_view");
}