@model DestCovery.Models.User_Info
@{
    ViewBag.Title = "logintobook";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

<div class="wrap">
    <img src="~/images/web/logotran.png" alt="Destcovery-logo" style="width:320px; height:200px;align-content:center" />
    <h2>USER LOGIN</h2>
    <h5 style="color:red;align-content:center"> @ViewBag.LOGINMSG </h5>
    <br />

    @using (Html.BeginForm("logintobook", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <label>Email Id :</label>@Html.TextBoxFor(x => x.User_Email, new { @class = "logintexbox", @required = "true", @autocomplete = "off" })
        </div>

        <div class="form-group">
            <label>Password :</label>@Html.PasswordFor(x => x.User_Password, new { @class = "logintexbox", @required = "true", @autocomplete = "off" })
        </div>

        <div class="text-center">
            <input type="submit" value="Submit" class="loginsubmit" />
        </div>
    }

    <h4 style="text-align:center;"> NewUser: <a href="User_Registraion_Form" style="color:white;"> SignUp </a></h4>
</div>



