@model DestCovery.Models.User_Info

@{
    ViewBag.Title = "change_password";
    Layout = "~/Views/Shared/_Layout_user_dashboard.cshtml";
}

<div class="row">
    <div class="col-xs-10">
        <h2> Change Password </h2>
    </div>
    
</div>
<br />
<div class="row">
    @using (Html.BeginForm("change_password", "Home", FormMethod.Post))
    {
        
        <div class="col-xs-6">
            <div class="form-group">
                <label for="exampleInputEmail1"> New Password </label>
                @Html.TextBoxFor(x => x.User_Password, new { @class = "form-control", @required = "true", @autocomplete = "off", @placeholder = "Enter New Password ", @id = "newpassword" ,@Type="password" })
            </div>
        </div>

        <div class="col-xs-8">
        </div>

        <div class="col-xs-4">
            <div class="form-group">
                <label for="exampleInputEmail1"> Submit </label>
                <input type="submit" value="Change Password" class="btn btn-primary btn-block btn-dark"  onclick="return confirm('Are you sure you Want to Change this Password')" />
            </div>
        </div>

    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="text"]').on('input', function (e)
        {
            var price_per_person = parseInt(document.getElementById("priceperperson").value);
            var personenroll = parseInt(document.getElementById("personenroll").value);

            document.getElementById("estimatedprice").value = price_per_person * personenroll;

        });
    });
</script>

