@model IEnumerable<DestCovery.Models.ContactUs>

@{
    ViewBag.Title = "enquire";
    Layout = "~/Views/Shared/_Layout_admin_dashboard.cshtml";
}

<div class="row">
    <div class="col-xs-10">
        <h2>Enquire Request </h2>
    </div>
    
</div>
<br />
<div class="row">
    <table class="table table-striped table-bordered">
        <tr>
            <th> Name </th>
            <th> Email </th>
            <th> Mobile </th>
            <th> Message </th>
        </tr>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>   @Html.DisplayFor(modelItem => item.person_name) </td>
                <td> @Html.DisplayFor(modelItem12 => item.person_email) </td>
                <td> @Html.DisplayFor(modelItem => item.person_mobile) </td>
                <td> @Html.DisplayFor(modelItem => item.person_msg) </td>       
            </tr>
        }
    </table>
</div>


